* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Arial", "sans-serif";
    margin: 0;
    padding: 0;
}

.header {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    min-height: 80px;
    align-items: center;
}

.dashboard svg {
    width: 20px;

}

.dashboard {
    height: 30px;
    max-width: 50%;
    display: flex;
    display: flex;
    margin-left: 900px;
}

.logo {
    max-width: 50%;
    display: flex;
    justify-content: start;

}

.logo img {
    width: 60px;
    height: 30px;
}


.sectionTwo {
    max-width: 100%;
}

.sectionTwoimg {
    position: relative;
    max-width: 100%;
}

.sectionTwoimg img {
    width: 100%;
    height: auto;
}

.sectionTwoContent {
    position: absolute;
    top: 35%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.h4sectiontwo {
    position: absolute;
    left: 15px;
    font-size: 3rem;
    letter-spacing: 3px;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
    margin: 0;
}

.h1sectiontwo {
    font-size: 6em;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    top: 56px;
    margin: 0;
    left: 15px;
}


/* line{
    height: 11px;
    transform-origin: left center;
    margin: 30px auto 0 0;

    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    border-color: #ffffff;
    stroke: #ffffff;
    border-width: 10px;
} */


.line {
    margin-top: 69px;
    height: -100px;
    width: 600px;
    position: absolute;
    background-color: white;
}

.layoutrow {
    position: absolute;
    top: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100%;
    min-width: 100%;
    justify-content: space-between;
}

.first svg {
    width: 80px;
    fill: #ffffff;
}

.second svg {
    width: 80px;
    fill: #ffffff;
}

.third svg {
    width: 80px;
    fill: #ffffff;
}

.layoutrow h3 {
    position: relative;
    top: 30px;
}

.third h3 {
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    margin: 20px 0 0;
}


.second h3 {
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    margin: 20px 0 0;
}

.first h3 {
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    margin: 20px 0 0;
}


.sectionThree {
    background-color: #f2f2f2;
    color: black;
    text-align: center;
    max-width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.sectionthreeh5 {
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    margin: 20px 0 0;
    color: rgb(151, 148, 148);
}

.sectionthreeh1 {
    font-size: 3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    margin: 20px 0 0;
}

.sectionthreep {
    font-size: 1.25rem;
    font-weight: 300;
    width: 780px;
    margin: 30px auto 0;
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.sectionThreeButton {
    margin-top: 30px;
    background-color: red;
    width: 150px;
    height: 50px;
    border-color: red;
    color: white;
    border-radius: 5px;
}

.sectionThreeButton button {
    background-color: red;
}

.sectionFour {
    display: flex;
    max-width: 100%;
    justify-content: center;
    margin-top: 60px;

}

.contentfirst {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin: 30px;
}

.contentsecond {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin-top: 70px;
}

.peopleh2 {
    font-weight: 700;
    font-size: 2.25rem;
    margin: 0;
}

.peopleh3 {
    font-size: 1.875rem;
    color: red;
}

.fourparagraph {
    padding: 20px 60px;
    justify-content: center;
    margin: 0;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;

}

.fourimage img {
    flex: 1;
    max-width: 100%;
}

.fourimagesecond img {
    flex: 1;
    max-width: 100%;
}

.contentsecond {

    display: flex;
    flex-direction: column;
    max-width: 50%;
}


.sectionFourimg {
    background-color: rgb(216, 218, 218);
    height: 800px;
}

.sectionFourimg img {
    margin-left: 7%;
    width: 500px;
    height: 800px;
}

.sectionfour {
    margin-top: 60px;
    position: relative;
}

.sectionFourcontent {
    position: absolute;
    top: 60px;
    left: 55%;
}

.sectionFourh2 {
    color: #104e92;
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 130px 0 0;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}


.lineTwo {
    margin-top: 19px;
    height: -100px;
    width: 400px;
    position: absolute;
    background-color: red;
}

.sectionfourp {
    margin-top: 75px;
    font-size: 20px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

footer {
    height: 130px;
    color: #ffffff;
    background-color: #333333;
    /* text-align: center; */
}

.footerp {
    text-align: center;
    display: flex;
    width: 417px;
    margin: 37px auto;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.footertwo {
    color: #ffffff;
    background-color: #333333;
    text-align: center;
    height: 100px;
}

.footertwo a {
    color: #75c7fd;
}

.services {
    max-width: 100%;
    display: flex;
    height: 400px;
    justify-content: center;
}

.service {
    /* max-width: 30%; */
    margin: 50px;
    padding: 14px;
}

.servicefirst{
    display: flex;
    /* flex-direction: column; */
}

.servicesecnd{
    display: flex;
}

.servicethird{
    display: flex;
}

.service svg{
    position: relative;
    top: 23px;
    left: 24px;
    width: 50px;
    height: 50px;
    fill: #ffffff;
}

#serviceone{
  max-width: 30%;
  /* padding: 20px; */
}

#servicetwo{
    max-width: 30%;
}

#servicethree{
    max-width: 30%;
}

.service span{
    background-color: #e71a23;
    border-radius: 50px;
    width:90px;
    height: 90px;
}

.servicep{
    font-size: 1.125rem;
    font-style: italic;
    margin: 20px 0 0;
    font-weight: 100;
    color: rgb(140, 140, 140);
}

.serviceh2{
  
        font-weight: 700;
        margin: 20px 0 0;
}







.sectionFive {
    color: #ffffff;
    background-color: #104e92;
    display: flex;
    height: 550px;
}

.fiveh6 {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 100;
    font-size: 1.2rem;
    /* justify-content: center; */
    /* display: flex; */
    /* align-items: center; */

    /* font-family: Montserrat, sans-serif !important; */
}

.fivecontent {
    max-width: 50%;
    /* margin: 50px; */
    padding: 100px;
    /* position: static; */
    /* display: flex; */
    /* justify-content: end; */
    /* align-items: center; */
    /* flex-direction: column; */
    top: 70px;
    left: 100px;
}

.fiveimg {
    justify-content: center;
    align-items: center;
    max-width: 50%;
    display: flex;
}

.fiveh3 {
    font-size: 6rem;
    line-height: 1;
    margin: 10px 0 0;
    font-weight: 300;
}

.fiveimgone {
    /* flex-direction: column; */
}

.fiveimgone img {
    width: 200px;
}

#fiveimgoneid img {
    height: 200px;
}

#fiveimgtwoid img {
    height: 200px;
    margin-top: 20px;
}

.one {
    flex-direction: column;
    margin: 20px;
    padding: 20px;
}

.two {
    flex-direction: column;
}

.fivesecondimg {
    flex-direction: row;
}


.fivesecondimgone {
    flex-direction: column;
}

.fivesecondimgone img {
    width: 200px;
}

#fivesecondimgoneid img {
    height: 200px;
    margin-top: 3px;
}

#fivesecondimgtwoid img {
    height: 200px;
    margin-top: 20px;

}




@media only screen and (max-width: 768px) {
    .sectionTwoContent {
        top: 50%;
        left: 30%;
        /* transform: translate(-50%, -50%); */
    }

    .header {
        display: flex;
        justify-content: space-between;
    }


    .h4sectiontwo {
        left: 10px;
        font-size: 2rem;
    }

    .h1sectiontwo {
        font-size: 4em;
        top: 46px;
        left: 10px;
    }

    .line {
        margin-top: 59px;
        width: 400px;
    }

    .layoutrow {
        top: 200px;
    }


    .first svg {
        width: 40px;
        fill: #ffffff;
    }

    .second svg {
        width: 40px;
        fill: #ffffff;
    }

    .third svg {
        width: 40px;
        fill: #ffffff;
    }

    .layoutrow h3 {
        position: relative;
        top: 30px;
    }

    .third h3 {
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 400;
        margin: 20px 0 0;
        margin-top: -10px;
    }


    .second h3 {
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 400;
        margin: 20px 0 0;
        margin-top: -10px;
    }

    .first h3 {
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 400;
        margin: 20px 0 0;
        margin-top: -10px;
    }

    .sectionThree {
        height: auto;
        padding: 50px 20px;
    }

    .sectionThreeButton {
        margin-top: 20px;
    }

    .sectionthreep {
        width: auto;
        max-width: 80%;
    }

    .dashboard {
        margin-left: 0;
    }

    .sectionFour {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .contentfirst,
    .contentsecond {
        max-width: 100%;
        margin: 20px;
    }

    .peopleh2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .peopleh3 {
        font-size: 1.25rem;
        text-align: center;
    }

    .fourparagraph {
        padding: 20px;
        text-align: center;
        font-size: 16px;
    }

    .fourimage img {
        width: 100%;
    }

    .fourimagesecond img {
        width: 100%;
    }




    .sectionFourimg {
        background-color: rgb(216, 218, 218);
        height: 600px;
    }

    .sectionFourimg img {
        margin-left: 7%;
        width: 350px;
        height: 600px;
    }

    .sectionfour {
        margin-top: 60px;
        position: relative;
    }

    .sectionFourcontent {
        position: absolute;
        top: 60px;
        left: 55%;
        margin-top: -20px;
    }

    .sectionFourh2 {
        color: #104e92;
        font-size: 3.5rem;
        font-weight: 700;
        text-transform: uppercase;
        margin: 130px 0 0;
        /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    }


    .lineTwo {
        margin-top: 19px;
        height: -100px;
        width: 300px;
        position: absolute;
        background-color: red;
    }

    .sectionfourp {
        margin-top: 75px;
        font-size: 20px;
        font-weight: 400;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }

    .sectionFive {
        color: #ffffff;
        background-color: #104e92;
        display: flex;
        flex-direction: column;
        height: 592px;
    }

    .fiveh6 {
        /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 0;
        font-weight: 100;
        font-size: 1rem;
        /* justify-content: center; */
        /* display: flex; */
        /* align-items: center; */

        /* font-family: Montserrat, sans-serif !important; */
    }

    .fivecontent {
        max-width: 100%;
        /* margin: 50px; */
        padding: 35px;
        /* position: static; */
        /* display: flex; */
        /* justify-content: end; */
        /* align-items: center; */
        /* flex-direction: column; */
        top: 70px;
        left: 100px;
    }

    .fiveimg {
        justify-content: center;
        align-items: center;
        max-width: 100%;
        display: flex;
        margin-top: -30px;
    }

    .fiveh3 {
        font-size: 2rem;
        line-height: 1;
        margin: 10px 0 0;
        font-weight: 300;
    }

    .fiveimgone {
        /* flex-direction: column; */
    }

    .fiveimgone img {
        width: 300px;
    }

    #fiveimgoneid img {
        height: 200px;
        width: 300px;
    }

    #fiveimgtwoid img {
        height: 200px;
        width: 300px;
        margin-top: 20px;
    }

    .one {
        flex-direction: column;
        margin: 20px;
        padding: 20px;
        width: 100%;
    }

    .two {
        flex-direction: column;
        width: 100%;
    }

    .fivesecondimg {
        flex-direction: row;
    }




    .fivesecondimgone {
        flex-direction: column;
    }

    .fivesecondimgone img {
        width: 200px;
    }

    #fivesecondimgoneid img {
        height: 200px;
        margin-top: 3px;
        width: 300px;
    }

    #fivesecondimgtwoid img {
        height: 200px;
        margin-top: 20px;
        width: 300px;
    }

    .services {
        max-width: 100%;
        display: flex;
        height: 430px;
        justify-content: center;
    }





}


@media only screen and (max-width: 500px) {

    .sectionTwoimg img {
        height: 360px;
        overflow: visible;
        background-position: 81.49% 50%;
        
        
    }

.sectionTwoimg{
   object-fit: cover;
}

    .sectionTwoContent {
        flex-direction: column;
        margin-top: 100px;
    }

    .h4sectiontwo {
        right: -150px;
        font-size: 15px;
        margin-top: 100px;
    }

    .h1sectiontwo {
        font-size: 2em;
        top: 46px;
        left: 80px;
        margin-top: 70px;
    }

    .line {
        margin-top: 59px;
        width: 280px;
    }

    .sectionTwo {
        text-align: center;
    }

    .layoutrow {
        display: none
    }

    .sectionTwoContent {
        top: 30%;
        left: 30%;
        /* transform: translate(-50%, -50%); */
    }


    .sectionthreeh5 {
        font-size: 1rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 400;
        margin: 20px 0 0;
        color: rgb(151, 148, 148);
    }

    .sectionthreeh1 {
        font-size: 1rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 600;
        margin: 20px 0 0;
    }

    .sectionthreep {
        font-size: 1rem;
        font-weight: 300;
        width: 780px;
        margin: 30px auto 0;
        font-style: normal;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }

    .sectionThreeButton {
        margin-top: 30px;
        background-color: red;
        width: 100px;
        height: 40px;
        border-color: red;
        color: white;
        border-radius: 5px;
    }

    .sectionThreeButton button {
        background-color: red;
    }

    .sectionfour {
        display: flex;
        flex-direction: column;
    }

    .sectionFourcontent {
        margin-top: 350px;
        position: absolute;
        left: 50px;
    }

    .sectionFourh2 {
        font-size: 20px;
    }

    .sectionFourimg img {
        width: 100%;
        height: 500px;
    }

    .sectionFourimg {
        height: 1000px;
    }


    .lineTwo {
        width: 200px;
    }

    .footerp {
        width: 300px;
    }














    .sectionFive {
        color: #ffffff;
        background-color: #104e92;
        display: flex;
        flex-direction: column;
        height: 1111px;
    }

    .fiveh6 {
        /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 0;
        font-weight: 100;
        font-size: 1rem;
        /* justify-content: center; */
        /* display: flex; */
        /* align-items: center; */

        /* font-family: Montserrat, sans-serif !important; */
    }

    .fivecontent {
        max-width: 100%;
        /* margin: 50px; */
        padding: 35px;
        /* position: static; */
        /* display: flex; */
        /* justify-content: end; */
        /* align-items: center; */
        /* flex-direction: column; */
        /* top: 70px;
        left: 100px; */
    }

    .fiveimg {
        justify-content: center;
        align-items: start;
        max-width: 100%;
        display: flex;
        margin-top: -30px;
        flex-direction: column;
    }

    .fiveh3 {
        font-size: 2rem;
        line-height: 1;
        margin: 10px 0 0;
        font-weight: 300;
    }

    .fiveimgone {
        /* flex-direction: column; */
    }

    .fiveimgone img {
        width: 300px;
    }

    #fiveimgoneid img {
        height: 200px;
        width: 100%;
    }

    #fiveimgtwoid img {
        height: 200px;
        /* width: 300px; */
        width: 100%;
        margin-top: 20px;
    }

    .one {
        flex-direction: column;
        margin: 0;
        padding: 20px;
        width: 100%;
        /* margin-top: -50px; */
    }

    .two {
        flex-direction: column;
        /* margin: 30px; */
        padding: 20px;
        width: 100%;
        margin-top: -23px;
    }

    .fivesecondimg {
        /* flex-direction: row; */
    }

.fivefirstimg{

}


    .fivesecondimgone {
        flex-direction: column;
    }

    .fivesecondimgone img {
        width: 100%;
    }

    #fivesecondimgoneid img {
        height: 200px;
        margin-top: 3px;
        /* width: 300px; */
        width: 100%;
    }

    #fivesecondimgtwoid img {
        height: 200px;
        margin-top: 20px;
        width: 100%;
    }





    .services {
        max-width: 100%;
        display: flex;
        height: 850px;
        justify-content: center;flex-direction: column;

    }
    
    .service {
        /* max-width: 30%; */
        /* margin: 50px; */
        /* padding: 14px; */
        margin: 10px;
    }
    
    .servicefirst{
        display: flex;
        /* flex-direction: column; */
    }
    
    .servicesecnd{
        display: flex;
    }
    
    .servicethird{
        display: flex;
    }
    
    .service svg{
        position: relative;
        top: 16px;
        left: 20px;
        width: 40px;
        height: 40px;
        fill: #ffffff;
    }
    
    #serviceone{
      max-width: 100%;
      /* padding: 20px; */
    }
    
    #servicetwo{
        max-width: 100%;
    }
    
    #servicethree{
        max-width: 100%;
    }
    
    .service span{
        background-color: #e71a23;
        border-radius: 60px;
        width:20%;
        height: 70px;
    }
    
    .servicep{
        font-size: medium;
        font-style: italic;
        margin: 20px 0 0;
        font-weight: 100;
        width: 100%;
        color: rgb(140, 140, 140);
    }
    
    .serviceh2{
      
            font-weight: 700;
            font-size: 20px;
            margin: 20px 0 0;
    }
    
    























}



